<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/js/answer.js"></script>
</head>
<body class="index_bg">
    <img class="index_title" src="./static/imgs/index_title.png"/>
    <a href="question.html">
        <img  class="action" src="./static/imgs/index_action.png" alt=""/>
    </a>
    <div class="rule">
        <img class="index_line" src="./static/imgs/index_line.png"/>
        <img class="rule_title" src="./static/imgs/rule_title.png"/>
        <p>1.活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动</p>
        <p>2.活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动</p>
        
    </div>
</body>
</html>