<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh"content="2.5;url=index.html">
    <title>载入</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="loading_bg">
    <div class="loading_top">百/家/精/粹/争/相/放&nbsp;&nbsp;&nbsp;万/名/桃/李/竞/吐/芳</div>
    <img src="imgs/loading_title.png"/>
    
</body>
</html>