<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>答题</title>
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/js/answer.js"></script>
    <script type="text/javascript" src="./static/js/simpleAlert.js"></script>    
    <script type="text/javascript" src="./static/js/jquery-1.10.2.min.js"></script>
    <script src="./static/js/js.js"></script>
</head>
<body class="question_bg">
    <div class="user">
        <div class="user_head">
            <div class="user1"></div>
        </div>
        <div class="user_message clearfix">
            <span class="user_name">用户名</span>
            <img src="./static/imgs/level.png"/>
        </div>
    </div>
    
    <div class="main">
        <div class="main_top clearfix">
            
                <p class="left"><span class="red">0</span><br/><span>个人得分</span></p>
                <p class="middle">题目类别<br/><span>难度</span></p>
                <div class="circle-title"><p class="num"></p></div>

        </div>
        <div class="question clearfix">
            <p class="question_content">题目题目题目题目题目题目题目题目题目题目题目题目题目题目题目</p>
        </div>
        <div class="answer">
            <button href="javascript:;" class="answer1 wrong_answer">这里是选项一</button>
            <button class="answer2 wrong_answer">这里是选项一</button>
            <button class="answer3 wrong_answer">这里是选项一</button>
            <button class="answer4 wrong_answer">这里是选项一</button>
        </div>
    </div>
    
    <li id="onlyChoseAlert"><a href="#">单次单选弹框</a></li>

    <footer>
        <p>剩余机会*<span class="chances">3</span></p>
    </footer>

<script>



</script>    

</body>
</html>